When doing aggregate data, we wonder when we do aggregate and when we do transform? Le consider the example:

In [4]:
import pandas as pd
df = pd.DataFrame(dict(A=list('aabb'), B=[1, 2, 3, 4], C=[0, 9, 0, 9]))
df

   A  B  C
0  a  1  0
1  a  2  9
2  b  3  0
3  b  4  9

We can get summarize with groupby as

In [5]:
df.groupby('A').mean()

     B    C
A
a  1.5  4.5
b  3.5  4.5

**Transform** is used if we want the result is broadcast to whole group and keep index

In [6]:
df.groupby('A').transform("mean")

     B    C
0  1.5  4.5
1  1.5  4.5
2  3.5  4.5
3  3.5  4.5

**agg** is used when you have specific things you want to run for different columns or more than one thing run on the same column.

In [7]:
df.groupby('A').agg(['mean', 'std'])

     B              C
  mean       std mean       std
A
a  1.5  0.707107  4.5  6.363961
b  3.5  0.707107  4.5  6.363961

In [8]:
df.groupby('A').agg(dict(B='sum', C=['mean', 'prod']))

    B    C
  sum mean prod
A
a   3  4.5    0
b   7  4.5    0